*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 #logo{ 
   position: fixed;
	top:0; 
	left:0; 
   margin-left: 20px;
} 
 
 .navlist{
    width: 100%;
    position: fixed;
    padding: 5px 10%;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
 }
 .navlist ul{
    display: flex;
    list-style: none;
    margin: 10px;

 }
 .navlist ul li:first-child{
    flex: 1;
    color: #ffffff;
    

 }
 .navlist ul li h4{
    font-family: serif;
    

 }
 .navlist ul a{
    display: block;
    margin-left: 20px;
    font-family: "Century Gothic", sans-serif;
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
    

 }
 .navlist ul a:hover{
    color: #838383;
    margin-top: 5px;

 }
 
 .main-box{
    width: 100%;
    height: 55vh;
    background-image: linear-gradient(rgba(66, 66, 66, 0.733), #000000bb), url(/new_site/media/burnleyCollegefrontBuilding.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    padding-top: 30vh;
 }
 
 .main-box h1{
    word-spacing: 8px;
    margin-bottom: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    letter-spacing: 5px;


   }
 .main-box p{
    font-family: "Century Gothic", sans-serif;
    font-size: 14px;
    letter-spacing: 1.4px;
    margin-bottom: 40px;
 }
 .main-box button{
    padding: 10px;
    border: none;
    outline: none;
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
 }
 .main-box button:hover{
    background: #808080;
 }
 
 .container{
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
 }
 .container h2{
    color: #88827b;
    text-align: center;
    margin: 30px;
    font-family: 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
 }
 .container h2::before, .container h2::after{
    content: "----";
    letter-spacing: -5px;
    font-weight: lighter;
    margin: 0 20px 0 10px;
 }
 .container .row{
    display: flex;
    justify-content: space-between;
 }
 .container .column{
    width: 32%;
    height: auto;
    position: relative;
    overflow: hidden;
 }
 .container .column img{
    width: 100%;
    height: auto;
 }
 .container .column a:last-child{
    position: absolute;
    display: block;
    width: 100%;
    height: 0;
    top: 99%;
    bottom: 0;
    left: 0;
    bottom: 0;
    background-color: #6b6b6bc0;
    text-align: center;
    padding-top: 14vw;
    font-size: 3vw;
    color: #ffffff;
    text-decoration: none;
 }
 .container .column:hover a:last-child{
    height: 100%;
    top: 0;
    line-height: 20%;
 }

 * {
   box-sizing: border-box;
 }
 
 /* Style inputs */
 input[type=text], select, textarea {
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical;
 }
 
 input[type=submit] {
   background-color: #202020;
   color: white;
   padding: 12px 20px;
   border: none;
   cursor: pointer;
 }
 
 input[type=submit]:hover {
   background-color: #696969;
 }
 
 .container {
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 10px;
 }
 
 .column {
   float: left;
   width: 50%;
   margin-top: 6px;
   padding: 20px;
 }
 
 .row:after {
   content: "";
   display: table;
   clear: both;
 }

